<!doctype html>
<html>
 <head>
  <title>Upload new File</title>
 </head>
 <body>
  <h1>Upload MP3 File</h1>
  <form method="post" 
   enctype="multipart/form-data">
   <input type="file" name="file">
   <input type="submit" value="Upload">
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
 </body>
</html>